:root {
  --primary-bg: #18191a;
  --text-color: #f3f3f3;
}

body {
  background: var(--primary-bg);
  color: var(--text-color);
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-bg);
  color: var(--text-color);
}
